/*-- scss:defaults --*/
@import "constants/variables";

/*-- scss:rules --*/
@import "rules/typography";
@import "rules/inputs";
@import "rules/bslib";

body {
    background-color: $primary;
}

.hover {
    &:hover {
        border-color: lighten($secondary, 1%) !important;
        background-color: darken($info, 1%) !important;
        transition: all ease-in-out 300ms;
      }
}
